<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @letter.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @letter.body.html_safe %>
</p>

<p>
  <strong>Done:</strong>
  <%= @letter.done %>
</p>

<% if @letter.done %>
  <%= form_for :letter, url: deliver_letter_path do |f| %>
    <%= f.text_field :email %>
    Unique Send<%= f.check_box :unique_send %>
    All <%= check_box_tag :all %>
    <%= f.submit "Send" %>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
